
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  #dropdown1 {
    background-color:#1e1e1e;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  #dropdown1 a {
    color: #fdfdfe;
  }
  #dropdown1 :hover a{
    color:#1e1e1e;
  }
  .padding-20 {
      padding-left: 20px;
      padding-right: 20px;
  }