
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  #dropdown1 {
    background-color:#1e1e1e;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  #dropdown1 a {
    color: #fdfdfe;
  }
  #dropdown1 :hover a{
    color:#1e1e1e;

  }
  #headbar {
    margin-top: 80px;
    background-color: black;
  }
#formheader{
  margin-top: 90px;
  margin-left: 50px;
}
#images div
{
  display: inline;
}
div.first{
  margin-left: 60px;
}
  div.second{
    margin-left:400px;
  }
  div.third{
    margin-left:400px;
  }
  div.bottomtitle{
    display: inline;
  }